@font-face{
    font-family: Oswald;
    src: url('./font/Oswald-VariableFont_wght.ttf');
}

:root{
    scroll-behavior: smooth;
    font-size: 16px;
}


*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
}
.container{
    width: 190vmin;
    height: 100vmin;
    margin: auto;
    background-image:linear-gradient(to right, #000A 0% 50%, #0005 90% 100% ), url('./images/Bitmap.png');
    background-size: cover;
    margin-top: 40px;
}
.header{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 80vmin;
    height: 20vmin;
    margin-right: 30vmin;
   
}
.header a{
    display: flex;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    flex-direction: column;
    font-size: 1.3rem;
}
.header p {
    position: absolute;
    right: 0;
    color: green;
    font-size: 2vmin;
    top: .9vmin;
}
.header span{
    position: absolute;
    right: 0;
    top:.6vmin;
    color: green;
}
.header a:hover span::before{
    content: "__";
    color:  green;
}

.header a:hover p::before{
    content: "______";
    color: green;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-top: 20vmin;
    flex-direction: column;
    gap: 4vmin;
    font-size: 4vmin;
}
.text p{
    font-size: 2vmin;
    font-family: serif;
}
.date{
    width: 20vmin;
    height: 6vmin;
    color: #ffffff;
    /* border: 1px solid red; */
     display: flex;
    font-size: 20px;
    margin-top: 35vmin;
}
.date p:hover{
    font-size: 5vmin;
    text-decoration: line-through green;
    margin-bottom: 2vmin;
}
.date p:active{
    font-size: 5vmin;
    text-decoration: line-through;
}

.container3{
    width: 190vmin;
    height: 80vmin;
    /* border: 1px solid red; */
    margin-bottom: 20vmin;
}


.content1 img{
    background: linear-gradient(to right #ff9, #008);
}





.container2{
    width: 130vmin;
    height: 60vmin;
    /* border: 1px solid red; */
    margin-top: 20vmin;
    position: relative;
    margin-bottom: 20vmin;
}

.content1{
    width: 60vmin;
    height: 40vmin;
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
}
.content1 img{
    width: 40vmin;
    height: 40vmin;
    /* z-index: -1; */
    position: absolute;
    top: 0;
    left: 20vmin;
}
.type1{
    margin-top: 8vmin;
    font-size: 20px;
    font-weight: 900;
    margin-left: 2vmin;
}
.type2{
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 2vmin;
    color: #5B5858;
}
.texting{
    width: 30vmin;
    height: 10vmin;
    /* border: 1px solid red; */
    /* text-align: center; */
    margin-top: 7vmin;
    margin-left: 6vmin;
    color: #5B5858;
}
.content2{
    width: 30vmin;
    height: 40vmin;
    background-color: #4CAF50;
    position: absolute;
    z-index: -3;
    top: 10vmin;
    left: 50vmin;
}
.content3{
    width: 15vmin;
    height: 30vmin;
     
    position: absolute;
    top: 20vmin;
    left: 70vmin;  
}
.content3 img{
    width: 30vmin;
    height: 40vmin;
position: absolute;
z-index: -3;
}
.texts{
    width: 30vmin;
    height: 10vmin;
    position: absolute;
    bottom: 8vmin;
    right: 0vmin;
    
}

.container3{
    width: 190vmin;
    height: 80vmin;
    background-color:  #FBFBFB;
}
.container3 a{
    text-decoration: none;
    color: black;
}
.cervice{
    font-size: 3vmin;
    margin-left: 32vmin;
    margin-top: 10vmin;
}

.cervice a:hover p::after{
    content: "__________";
   
}
.cervice p:hover{
    transition: all 4s linear;
}
.extra{
    display: flex;
    gap: 0;
    margin-left: 32vmin;
    margin-right: 32vmin;
    margin-top: 10vmin;
}
.cont1{
    width: 40vmin;
    height: 30vmin;
    /* border: 1px solid red; */
    background-color: #FFFFFF;
}
.cont1:hover{
    border-bottom: .4vmin solid green;
}
.cont1 img{
    width: 6vmin;
    height: 6vmin;
    border-radius: 50%;
}
.sentence1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vmin;
    font-size: 1.8vmin;
}
/* .sentence1 p{
    color: green;
} */
.sentence1 a:hover p::after{
    content: "_______";
}

.sentence2{
    display: flex;
    flex-direction: column;
    margin-left: 6vmin;
    margin-top: 3vmin;
    font-size: 2vmin;
    font-size: 1.8vmin;
    width: 30vmin;
    height: 16vmin;
}
.sentence2 p{
    margin-top: 3vmin;
    margin-right: 30vmin;
    font-size: 1.4vmin;
    width: 16vmin;
    height: 3vmin;
  
}

.cont2{
    width: 40vmin;
    height: 30vmin;
    /* border: 1px solid red; */
    background-color: #FFFFFF;
}
.cont2 img{
    width: 6vmin;
    height: 6vmin;
    border-radius: 50%;
}
.cont2:hover{
 border-bottom: .4vmin solid green;
 
}
.sentences1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vmin;
    font-size: 1.8vmin;
}
/* .sentences1 p{
    color: green;
    
} */
.sentences1 a:hover p::after{
    content: "_____";
}
.sentences2{
    display: flex;
    flex-direction: column;
    margin-left: 6vmin;
    margin-top: 3vmin;
    font-size: 2vmin;
    font-size: 1.8vmin;
    width: 30vmin;
    height: 16vmin;
}
.sentences2 p{
    margin-top: 3vmin;
    margin-right: 30vmin;
    font-size: 1.4vmin;
    width: 16vmin;
    height: 3vmin;
  
}

.cont3{
    width: 40vmin;
    height: 30vmin;
    /* border: 1px solid red; */
    background-color: #FFFFFF;
}
.cont3 img{
    width: 6vmin;
    height: 6vmin;
    border-radius: 50%;
}
.cont3:hover{
    border-bottom: .4vmin solid green;
}
.sentencing1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vmin;
    font-size: 1.8vmin;
}
.sentencing1 a:hover p::after{
    content: "____________";
}

.sentencing{
    display: flex;
    flex-direction: column;
    margin-left: 6vmin;
    margin-top: 3vmin;
    font-size: 2vmin;
    font-size: 1.8vmin;
    width: 30vmin;
    height: 16vmin;
}
.sentencing p{
    margin-top: 3vmin;
    margin-right: 30vmin;
    font-size: 1.4vmin;
    width: 16vmin;
    height: 3vmin;
  
}


.latest{
    width: 130vmin;
    height: 200vmin;
    /* border: 1px solid red; */
    position: relative;
    
}
.tcont{
    width: 50vmin;
    height: 10vmin;
    /* border: 1px solid red; */
    /* display: flex;
    justify-content: left; */
    margin-right: 110vmin;
    margin-bottom: 5vmin;
    font-size: 3vmin;
}
.tcont a:hover p::after{
    content: "_________";
    
}
.tcont a{
    text-decoration: none;
    color: black;
}
.nav{
    width: 70vmin;
    height: 10vmin;
    display: flex;
    /* border: 1px solid red; */
    margin-left: 0;
   
}
.nav a{
    margin-top: 8vmin;
    margin-left: 0;
    text-decoration: none;
    color: grey;
}
.nav a:hover{
    color: black;
}
.cameras{
    width: 60vmin;
    height: 40vmin;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -5vmin;
}
.cameras img{
    width: 50vmin;
    height: 50vmin;
}
.photo{
    font-size: 4vmin;
    position: absolute;
    right: 30vmin;
    width: 40vmin;
    height: 20vmin;
    top: 30vmin;
}
.kitten{
    width: 80vmin;
    height: 50vmin;
    /* border: 1px solid red; */
    left: -15vmin;
    top: 40vmin;
    position: absolute;
    display: flex;
    justify-content: center;
}
.kitten img{
    width: 50vmin;
    height: 50vmin;
    background-color: #FBFBFB;
    ;
}
.life{
    font-size: 4vmin;
    position: absolute;
    left: 55vmin;
    width: 20vmin;
    height: 10vmin;
    top: 30vmin;
    text-decoration: line-through
    ;
}

.photography{
    width: 30vmin;
    height: 10vmin;
    /* border: 1px solid red; */
    position: absolute;
    right: 15vmin;
    top: 50vmin;
    text-align: end;

}
.photography span{
    font-size: 2.6vmin;
}
.photography p{
    margin-top: 2vmin;
    font-size: 1.8vmin;
}
.photograph{
    width: 30vmin;
    height: 10vmin;
    /* border: 1px solid red; */
    position: absolute;
    left: 25vmin;
    top: 95vmin;
    text-align: start;
}
.photograph p{
    margin-top: 2vmin;
    font-size: 1.8vmin;
    text-decoration: line-through #4CAF50;
    
}
.photograph span{
    font-size: 1.8vmin;
}
.laptop{
    width: 60vmin;
    height: 60vmin;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80vmin;
    right: -5vmin;
}
.laptop img{
    width: 50vmin;
    height: 50vmin;
}
.grow{
    position: absolute;
    width: 40vmin;
    height: 40vmin;
    font-size: 5vmin;
    left: -7vmin;
    top: 35vmin;
    
}
.apple{
    width: 60vmin;
    height: 60vmin;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 120vmin;
    left: -5vmin;
}
.apple img{
    width: 50vmin;
    height: 50vmin;
}
.magic{
    position: absolute;
    width: 26vmin;
    height: 30vmin;
    font-size: 5vmin;
    right: -12vmin;
    top: 35vmin;
    /* border: 1PX SOLID RED; */
    
}
.groov{
    width: 30vmin;
    height: 10vmin;
    /* border: 1px solid red; */
    position: absolute;
    right: 10vmin;
    top: 140vmin;
    text-align: end;

}
.groov span{
    font-size: 2.6vmin;
}
.groov p{
    margin-top: 2vmin;
    font-size: 1.8vmin;
}

.lost{
    width: 30vmin;
    height: 10vmin;
    /* border: 1px solid red; */
    position: absolute;
    left: 20vmin;
    top: 180vmin;
    text-align: start;

}
.lost span{
    font-size: 2.6vmin;
}
.lost p{
    margin-top: 2vmin;
    font-size: 1.8vmin;
}
.view{
    position: absolute;
    bottom: 9vmin;
    /* border: 1px solid red; */
    right: 10vmin;
    width: 10vmin;
    height: 6vmin;
}
.view a{
    text-decoration: none;
    color: black;
}

.contenting{
    width: 190vmin;
    height: 90vmin;
    /* border: 1px solid red; */
    margin-top: 5vmin;
    /* position: relative; */
    background-color:#FBFBFB;    
}
.team{
    /* position: absolute; */
    width: 20vmin;
    height: 10vmin;
    /* border: 1px solid red; */
    top: 10vmin;
    margin-left: 30vmin;
    /* position: relative; */
    margin-top: 10vmin;
    
}
.team a:hover p::after{
    content: "_______";
}
.team a{
    position: relative;
    font-size: 3vmin;
    font-weight: 700;
    text-decoration: none;
    color: black;
}
.team p{
    position: absolute;
    top: 2vmin;
}

.imagings{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10vmin 30vmin;
}
.imagings img{
    width: 40vmin;
    height: 40vmin;
    position: relative;
}
.img1{
    position: relative;
}
.img2{
    position: relative;
}
.img3{
    position: relative;
}
.tim{
    width: 40vmin;
    height: 8vmin;
    background-color: #FFFFFF99;
    position: absolute;
    top: 32vmin;
 text-align: center;
 align-items: center;
 display: flex;
}

.fraup{
    width: 40vmin;
    height: 15vmin;
    background-color: #FFFFFF99;
    position: absolute;
    top: 25vmin;

 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
.fraup div{
    font-size: 1.6vmin;
   margin-top:  1.3vmin;
}
.fraup p{
   margin-bottom: 2vmin;
   
    font-size: 3vmin;
 
    text-align: center;
}
.fraup a{
    text-decoration: none;
    color: black;
    font-size: 2vmin;
}
.fraup a:hover p::after{
    content: "_____";
    font-size: 3vmin;
}
.cahil{
    width: 40vmin;
    height: 8vmin;
    background-color: #FFFFFF99;
    position: absolute;
    top: 32vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contexts{
    width: 130vmin;
    height: 40vmin;
    /* border: 1px solid red; */
    margin-top: 10vmin;
    margin-bottom: 20vmin;
}
.context{
    width: 80vmin;
    height: 15vmin;
    text-align: center;
    /* border: 1px solid red; */
    font-size: 2vmin;
    /* display: flex;
    flex-direction: column;
     */
}
.context p{
   margin: 3vmin;
}

 
.david{
    display: flex;
    flex-direction: row;
    width: 20vmin;
    height: 3vmin;
    /* border: 1px solid red; */
    
    position: relative
}
.david p{
    position: absolute;
    top: 0;
    left: 20vmin;
    margin-bottom: 2vmin;
    
}
.david span{
    position: absolute;
    top: 0;
    left: 0;
}
.star{
margin-top: 5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vmin;
    height: 3vmin;
}
.star a{
    text-decoration: none;
    color: black;
}
.star img:hover{
    background-color: black;
    border-radius: 70%;
}
.david label{
    color:#B8B8B8 ;
    position: absolute;
    top: 0;
    right: 0;
    
}
.david label:hover{
    color: black;
}
.david span:hover{
color: #B8B8B8;
}
.web:hover{
    border-bottom: .6vmin solid green;
}

.foot{
    margin-top: 60vmin;
    width: 190vmin;
    height: 30vmin;
    /* border: 1px solid red; */
    position: absolute;
    right: 5vmin;
    display: flex;
}
.right{
    width: 95vmin;
    height: 30vmin;
    /* border: 1px solid red; */
}
.right:hover{
    border: .4vmin solid red;
}
.left{
    width: 95vmin;
    height: 30vmin;
    /* border: 1px solid red; */
    background-color: #70BD59;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
   
}
.left:hover{
    border: .4vmin solid red;
}
.bottoms{
    width: 190vmin;
    height: 40vmin;
    /* border: 1px solid red; */
    position: absolute;
  margin-top: 90vmin;
  right: 5vmin;
  background-color: #2E2E2E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right1{
    margin-top: 5vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vmin;
    height: 20vmin;
}
.left1{
    margin-top: 5vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vmin;
    height: 20vmin;
}
.foot p{
    font-size: 1.8vmin;
}
.foots{
    display: flex;
    flex-direction: column;
    width: 40vmin;
    color: #B8B8B8;
    font-size: 1.8vmin;
}
.navs{
    width: 20vmin;
    margin-left: 10vmin;
    margin-top: 5vmin;
}
.footer{
    width: 190vmin;
    height: 8vmin;
    /* border: 1px solid red; */
    position: absolute;
    bottom: -8vmin;
    background: #252525;
    display: flex;
    justify-content: center;
   color: #B8B8B8;
   font-size: 1.8vmin;
}




.david span:hover~ label{
    color: black;
}

